name: Test Notebooks

on:
  push:
    branches:
      - master
  schedule:
    # Run on the first day of every month at 00:00 UTC
    - cron: '0 0 1 * *'

jobs:
  test-notebooks:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -e .[ci]

      - name: Run notebook tests
        run: pytest .github/workflows/test_notebooks.py
